.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 8px 0px;
  font-size: 16px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.3);
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  transition: 1s ease;
}

.navbar-links {
  font-size: 18px;
  text-decoration: none;
  margin-left: 10px;
  color: white;
  text-shadow: 2px 2px 0px #aa14f0;
  
  &:hover {
    color: white;
    text-shadow: 0px 0px 5px #aa14f0;
    font-weight: bold;
  }
}

.logo {
  font-size: 24px;
}

.left-border-link {
  border-left: 3px solid black;
}

.filtered-background {
  background: rgba(0,0,0,0.35);
}

.scrolled-links {
  text-shadow: 0px 0px 2px #aa14f0;
  color: white;
}
